<html>
	<head>
		<title>Question Paper Generator</title>
		<style>
			.TextLeft
			{
				text-align: left;
			}
			.TextRight
			{
				text-align: right;
               
			}
			#Header
			{
				text-align: center;
			}
            #Header h1
            {
                font-size:25px
            }
			#MainContainer
			{
				width: 700px;
				margin: 0 auto;
				border: thin dotted;
			}
            .questions
            {
                    font-size : 23px;
            }
		</style>
	</head>
	<body>
		
		{% if form %}
			<form method="get" action="{{ location }}" >
				Choose Subject Name :
				<select name="SubjectName">
					{% for f in form %}
						<option value="{{ f }}">{{ f }}</option>
					{% endfor %}					
				</select>
				<button type="submit">Generate</button>
			</form>
		{% else %}
		
		<div id="MainContainer">
			
			<div id="Header">
				<h1>VELS UNIVERSITY SCHOOL OF ENGINEERING</h1>
                <p  class = "TextRight">Subject Code : {{ SubjectCode }}</p>
                <p style="position:relative;bottom:40px;" class="TextLeft">Subject Title : {{ SubjectName }}</p>

                
			</div>
			<div id="PartA">
                <h3>Part A </h3>
                <ol>
                {% for QA in QpaperA %}
                    
                    <li><div class="questions">
                        {{ QA }}
                    </div></li>
                {% endfor %}
                </ol>
            </div>
            
			<div id="PartB">
                <h3>Part B </h3>
                <ol>
                {% for QB in QpaperB %}
                    <li><div class="questions">
                        {{ QB }}
                    </div></li>
                {% endfor %}
                </ol>
            </div>
		</div>
		{% endif %}
		
	</body>
</html>
